.expense-item{
    background-color: rgba(177, 243, 206, 0.729);
    width: auto;
    display: flex;
    align-items: center;
    margin: 20px 20px;
    border-radius: 10px;  
}

.expense-item__description{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 22pt;
    font-weight: 600;
    padding-left: 30px;
    color: #000;
    padding-top: 28px;
}
.expense-item__price {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 140px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 18pt;
    font-weight: 700;
    margin-left: 74vw;
    margin-top: -55px;
    
}